<h1>About</h1>
<div class="container">
    <h2>Hello!</h2>
    <p>Thanks for using CryptoWallet. This was developped as a means to learn Rails and web development.
    Credit to Codemy for its great tutorials! If you're interested in other things I've worked on, please visit my site or my github.</p>
    
     <button type="button" class="btn btn-primary">
        <a style="color:white;" href="https://github.com/DavidHZhu/">Github</a>
    </button>
    <button type="button" class="btn btn-primary">
        <a style="color:white;" href="http://davidhzhu.me">Website</a>
    </button>
</div>